doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    //script(src="https://button.glitch.me/button.js" data-style="glitch")
    //div(class="glitchButton" style="position:fixed;top:20px;right:20px;")
